@model Albergo.Models.Camere

@{
    ViewBag.Title = "AggiungiCamera";
}

<h2>Aggiungi Camera</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container containerForm">
        <h4>Camere</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descrizione, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descrizione, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descrizione, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Seleziona  @Html.LabelFor(model => model.Tipologia, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.DropDownListFor(model => model.Tipologia, new SelectList(ViewBag.TipiDiCamera, "Text", "Text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Tipologia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crea camera" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@if (ViewBag.MessaggioDiErrore != null)
{
    <div class="alert alert-danger mt-2 text-center">
        @ViewBag.MessaggioDiErrore
    </div>
}

@if (ViewBag.MessaggioDiSuccesso != null)
{
    <div class="alert alert-success mt-2 text-center">
        @ViewBag.MessaggioDiSuccesso
    </div>
}